/* _breakpoint-md.css */

@media (min-width: 768px) {
.d-block-md { display: block !important; }
.d-flex-md { display: flex !important; }
.d-grid-md { display: grid !important; }
.d-none-md { display: none !important; }

.d-inline-md { display: inline !important; }
.d-inline-block-md { display: inline-block !important; }
.d-inline-flex-md { display: inline-flex !important; }
.d-inline-grid-md { display: inline-grid !important; }

.d-table-md { display: table !important; }
.d-table-cell-md { display: table-cell !important; }
.d-table-row-md { display: table-row !important; }



/* flex.css */

/* flex-wrap */
.fw-nowrap-md { flex-wrap: nowrap !important; }
.fw-wrap-md { flex-wrap: wrap !important; }
.fw-wrap-reverse-md { flex-wrap: wrap-reverse !important; }

/* flex-direction */
.fd-row-md { flex-direction: row !important; }
.fd-row-reverse-md { flex-direction: row-reverse !important; }
.fd-column-md { flex-direction: column !important; }
.fd-column-reverse-md -md{ flex-direction: column-reverse !important; }

/* align-content */
.ac-baseline-md { align-content: baseline !important; }
.ac-center-md { align-content: center !important; }
.ac-flex-end-md { align-content: flex-end !important; }
.ac-flex-start-md { align-content: flex-start !important; }
.ac-normal-md { align-content: normal !important; }
.ac-space-around-md { align-content: space-around !important; }
.ac-space-between-md { align-content: space-between !important; }
.ac-space-evenly-md { align-content: space-evenly !important; }
.ac-stretch-md { align-content: stretch !important; }

/* align-items */
.ai-baseline-md { align-items: baseline !important; }
.ai-center-md { align-items: center !important; }
.ai-flex-start-md { align-items: flex-start !important; }
.ai-flex-end-md { align-items: flex-end !important; }
.ai-stretch-md { align-items: stretch !important; }

/* align-self */
.as-auto-md { align-self: auto !important; }
.as-baseline-md { align-self: baseline !important; }
.as-center-md { align-self: center !important; }
.as-flex-end-md { align-self: flex-end !important; }
.as-flex-start-md { align-self: flex-start !important; }
.as-stretch-md { align-self: stretch !important; }

/* justify-content */
.jc-center-md { justify-content: center !important; }
.jc-flex-end-md { justify-content: flex-end !important; }
.jc-flex-start-md { justify-content: flex-start !important; }
.jc-normal-md { justify-content: normal !important; }
.jc-space-around-md { justify-content: space-around !important; }
.jc-space-between-md { justify-content: space-between !important; }
.jc-space-evenly-md { justify-content: space-evenly !important; }
.jc-stretch-md { justify-content: stretch !important; }


/* text-align */
.ta-center-md { text-align: center !important; }
.ta-end-md { text-align: end !important; }
.ta-justify-md { text-align: justify !important; }
.ta-left-md { text-align: left !important; }
.ta-right-md { text-align: right !important; }
.ta-start-md { text-align: start !important; }



/* auto */
.m-auto-md {margin: auto !important}

.mt-auto-md {margin-top: auto !important}
.mr-auto-md {margin-right: auto !important}
.mb-auto-md {margin-bottom: auto !important}
.ml-auto-md {margin-left: auto !important}

.mis-auto-md {margin-inline-start: auto !important}
.mie-auto-md {margin-inline-end: auto !important}
.mi-auto-md {margin-inline: auto !important}

.mbl-auto-md {margin-block: auto !important}
.mbe-auto-md {margin-block-end: auto !important}
.mbs-auto-md {margin-block-start: auto !important}

/* 0 */
.m-0-md {margin: var(--space-0) !important}

.mt-0-md {margin-top: var(--space-0) !important}
.mr-0-md {margin-right: var(--space-0) !important}
.mb-0-md {margin-bottom: var(--space-0) !important}
.ml-0-md {margin-left: var(--space-0) !important}

.mis-0-md {margin-inline-start: var(--space-0) !important}
.mie-0-md {margin-inline-end: var(--space-0) !important}
.mi-0-md {margin-inline: var(--space-0) !important}

.mbl-0-md {margin-block: var(--space-0) !important}
.mbe-0-md {margin-block-end: var(--space-0) !important}
.mbs-0-md {margin-block-start: var(--space-0) !important}

/* 1 */
.m-1-md {margin: var(--space-1) !important}

.mt-1-md {margin-top: var(--space-1) !important}
.mr-1-md {margin-right: var(--space-1) !important}
.mb-1-md {margin-bottom: var(--space-1) !important}
.ml-1-md {margin-left: var(--space-1) !important}

.mis-1-md {margin-inline-start: var(--space-1) !important}
.mie-1-md {margin-inline-end: var(--space-1) !important}
.mi-1-md {margin-inline: var(--space-1) !important}

.mbl-1-md {margin-block: var(--space-1) !important}
.mbe-1-md {margin-block-end: var(--space-1) !important}
.mbs-1-md {margin-block-start: var(--space-1) !important}

/* 2 */
.m-2-md {margin: var(--space-2) !important}

.mt-2-md {margin-top: var(--space-2) !important}
.mr-2-md {margin-right: var(--space-2) !important}
.mb-2-md {margin-bottom: var(--space-2) !important}
.ml-2-md {margin-left: var(--space-2) !important}

.mis-2-md {margin-inline-start: var(--space-2) !important}
.mie-2-md {margin-inline-end: var(--space-2) !important}
.mi-2-md {margin-inline: var(--space-2) !important}

.mbl-2-md {margin-block: var(--space-2) !important}
.mbe-2-md {margin-block-end: var(--space-2) !important}
.mbs-2-md {margin-block-start: var(--space-2) !important}

/* 3 */
.m-3-md {margin: var(--space-3) !important}

.mt-3-md {margin-top: var(--space-3) !important}
.mr-3-md {margin-right: var(--space-3) !important}
.mb-3-md {margin-bottom: var(--space-3) !important}
.ml-3-md {margin-left: var(--space-3) !important}

.mis-3-md {margin-inline-start: var(--space-3) !important}
.mie-3-md {margin-inline-end: var(--space-3) !important}
.mi-3-md {margin-inline: var(--space-3) !important}

.mbl-3-md {margin-block: var(--space-3) !important}
.mbe-3-md {margin-block-end: var(--space-3) !important}
.mbs-3-md {margin-block-start: var(--space-3) !important}

/* 4 */
.m-4-md {margin: var(--space-4) !important}

.mt-4-md {margin-top: var(--space-4) !important}
.mr-4-md {margin-right: var(--space-4) !important}
.mb-4-md {margin-bottom: var(--space-4) !important}
.ml-4-md {margin-left: var(--space-4) !important}

.mis-4-md {margin-inline-start: var(--space-4) !important}
.mie-4-md {margin-inline-end: var(--space-4) !important}
.mi-4-md {margin-inline: var(--space-4) !important}

.mbl-4-md {margin-block: var(--space-4) !important}
.mbe-4-md {margin-block-end: var(--space-4) !important}
.mbs-4-md {margin-block-start: var(--space-4) !important}

/* 5 */
.m-5-md {margin: var(--space-5) !important}

.mt-5-md {margin-top: var(--space-5) !important}
.mr-5-md {margin-right: var(--space-5) !important}
.mb-5-md {margin-bottom: var(--space-5) !important}
.ml-5-md {margin-left: var(--space-5) !important}

.mis-5-md {margin-inline-start: var(--space-5) !important}
.mie-5-md {margin-inline-end: var(--space-5) !important}
.mi-5-md {margin-inline: var(--space-5) !important}

.mbl-5-md {margin-block: var(--space-5) !important}
.mbe-5-md {margin-block-end: var(--space-5) !important}
.mbs-5-md {margin-block-start: var(--space-5) !important}



/* padding */
/* 0 */
.p-0-md {padding: var(--space-0) !important;}

.pt-0-md {padding-top: var(--space-0) !important;}
.pr-0-md {padding-right: var(--space-0) !important;}
.pb-0-md {padding-bottom: var(--space-0) !important;}
.pl-0-md {padding-left: var(--space-0) !important;}

.pis-0-md {padding-inline-start: var(--space-0) !important;}
.pie-0-md {padding-inline-end: var(--space-0) !important;}
.pi-0-md {padding-inline: var(--space-0) !important;}

.pbl-0-md {padding-block: var(--space-0) !important;}
.pbe-0-md {padding-block-end: var(--space-0) !important;}
.pbs-0-md {padding-block-start: var(--space-0) !important;}

/* 1 */
.p-1-md {padding: var(--space-1) !important}

.pt-1-md {padding-top: var(--space-1) !important}
.pr-1-md {padding-right: var(--space-1) !important}
.pb-1-md {padding-bottom: var(--space-1) !important}
.pl-1-md {padding-left: var(--space-1) !important}

.pis-1-md {padding-inline-start: var(--space-1) !important}
.pie-1-md {padding-inline-end: var(--space-1) !important}
.pi-1-md {padding-inline: var(--space-1) !important}

.pbl-1-md {padding-block: var(--space-1) !important}
.pbe-1-md {padding-block-end: var(--space-1) !important}
.pbs-1-md {padding-block-start: var(--space-1) !important}

/* 2 */
.p-2-md {padding: var(--space-2) !important}

.pt-2-md {padding-top: var(--space-2) !important}
.pr-2-md {padding-right: var(--space-2) !important}
.pb-2-md {padding-bottom: var(--space-2) !important}
.pl-2-md {padding-left: var(--space-2) !important}

.pis-2-md {padding-inline-start: var(--space-2) !important}
.pie-2-md {padding-inline-end: var(--space-2) !important}
.pi-2-md {padding-inline: var(--space-2) !important}

.pbl-2-md {padding-block: var(--space-2) !important}
.pbe-2-md {padding-block-end: var(--space-2) !important}
.pbs-2-md {padding-block-start: var(--space-2) !important}

/* 3 */
.p-3-md {padding: var(--space-3) !important}

.pt-3-md {padding-top: var(--space-3) !important}
.pr-3-md {padding-right: var(--space-3) !important}
.pb-3-md {padding-bottom: var(--space-3) !important}
.pl-3-md {padding-left: var(--space-3) !important}

.pis-3-md {padding-inline-start: var(--space-3) !important}
.pie-3-md {padding-inline-end: var(--space-3) !important}
.pi-3-md {padding-inline: var(--space-3) !important}

.pbl-3-md {padding-block: var(--space-3) !important}
.pbe-3-md {padding-block-end: var(--space-3) !important}
.pbs-3-md {padding-block-start: var(--space-3) !important}

/* 4 */
.p-4-md {padding: var(--space-4) !important}

.pt-4-md {padding-top: var(--space-4) !important}
.pr-4-md {padding-right: var(--space-4) !important}
.pb-4-md {padding-bottom: var(--space-4) !important}
.pl-4-md {padding-left: var(--space-4) !important}

.pis-4-md {padding-inline-start: var(--space-4) !important}
.pie-4-md {padding-inline-end: var(--space-4) !important}
.pi-4-md {padding-inline: var(--space-4) !important}

.pbl-4-md {padding-block: var(--space-4) !important}
.pbe-4-md {padding-block-end: var(--space-4) !important}
.pbs-4-md {padding-block-start: var(--space-4) !important}

/* 5 */
.p-5-md {padding: var(--space-5) !important}

.pt-5-md {padding-top: var(--space-5) !important}
.pr-5-md {padding-right: var(--space-5) !important}
.pb-5-md {padding-bottom: var(--space-5) !important}
.pl-5-md {padding-left: var(--space-5) !important}

.pis-5-md {padding-inline-start: var(--space-5) !important}
.pie-5-md {padding-inline-end: var(--space-5) !important}
.pi-5-md {padding-inline: var(--space-5) !important}

.pbl-5-md {padding-block: var(--space-5) !important}
.pbe-5-md {padding-block-end: var(--space-5) !important}
.pbs-5-md {padding-block-start: var(--space-5) !important}
}
