/* _breakpoint-lg.css */

@media (min-width: 992px) {
  .d-block-lg { display: block; }
  .d-flex-lg { display: flex; }
  .d-grid-lg { display: grid; }

  .d-inline-lg { display: inline; }
  .d-inline-block-lg { display: inline-block; }
  .d-inline-flex-lg { display: inline-flex; }
  .d-inline-grid-lg { display: inline-grid; }

  .d-none-lg { display: none; }
  .d-table-lg { display: table; }
  .d-table-cell-lg { display: table-cell; }
  .d-table-row-lg { display: table-row; }
}
