/* _breakpoint-lg.css */

@media (min-width: 992px) {
.d-block-lg { display: block !important; }
.d-flex-lg { display: flex !important; }
.d-grid-lg { display: grid !important; }
.d-none-lg { display: none !important; }

.d-inline-lg { display: inline !important; }
.d-inline-block-lg { display: inline-block !important; }
.d-inline-flex-lg { display: inline-flex !important; }
.d-inline-grid-lg { display: inline-grid !important; }

.d-table-lg { display: table !important; }
.d-table-cell-lg { display: table-cell !important; }
.d-table-row-lg { display: table-row !important; }



/* flex.css */

/* flex-wrap */
.fw-nowrap-lg { flex-wrap: nowrap !important; }
.fw-wrap-lg { flex-wrap: wrap !important; }
.fw-wrap-reverse-lg { flex-wrap: wrap-reverse !important; }

/* flex-direction */
.fd-row-lg { flex-direction: row !important; }
.fd-row-reverse-lg { flex-direction: row-reverse !important; }
.fd-column-lg { flex-direction: column !important; }
.fd-column-reverse-lg -lg{ flex-direction: column-reverse !important; }

/* align-content */
.ac-baseline-lg { align-content: baseline !important; }
.ac-center-lg { align-content: center !important; }
.ac-flex-end-lg { align-content: flex-end !important; }
.ac-flex-start-lg { align-content: flex-start !important; }
.ac-normal-lg { align-content: normal !important; }
.ac-space-around-lg { align-content: space-around !important; }
.ac-space-between-lg { align-content: space-between !important; }
.ac-space-evenly-lg { align-content: space-evenly !important; }
.ac-stretch-lg { align-content: stretch !important; }

/* align-items */
.ai-baseline-lg { align-items: baseline !important; }
.ai-center-lg { align-items: center !important; }
.ai-flex-start-lg { align-items: flex-start !important; }
.ai-flex-end-lg { align-items: flex-end !important; }
.ai-stretch-lg { align-items: stretch !important; }

/* align-self */
.as-auto-lg { align-self: auto !important; }
.as-baseline-lg { align-self: baseline !important; }
.as-center-lg { align-self: center !important; }
.as-flex-end-lg { align-self: flex-end !important; }
.as-flex-start-lg { align-self: flex-start !important; }
.as-stretch-lg { align-self: stretch !important; }

/* justify-content */
.jc-center-lg { justify-content: center !important; }
.jc-flex-end-lg { justify-content: flex-end !important; }
.jc-flex-start-lg { justify-content: flex-start !important; }
.jc-normal-lg { justify-content: normal !important; }
.jc-space-around-lg { justify-content: space-around !important; }
.jc-space-between-lg { justify-content: space-between !important; }
.jc-space-evenly-lg { justify-content: space-evenly !important; }
.jc-stretch-lg { justify-content: stretch !important; }



/* text-align */
.ta-center-lg { text-align: center !important; }
.ta-end-lg { text-align: end !important; }
.ta-justify-lg { text-align: justify !important; }
.ta-left-lg { text-align: left !important; }
.ta-right-lg { text-align: right !important; }
.ta-start-lg { text-align: start !important; }



/* auto */
.m-auto-lg {margin: auto !important}

.mt-auto-lg {margin-top: auto !important}
.mr-auto-lg {margin-right: auto !important}
.mb-auto-lg {margin-bottom: auto !important}
.ml-auto-lg {margin-left: auto !important}

.mis-auto-lg {margin-inline-start: auto !important}
.mie-auto-lg {margin-inline-end: auto !important}
.mi-auto-lg {margin-inline: auto !important}

.mbl-auto-lg {margin-block: auto !important}
.mbe-auto-lg {margin-block-end: auto !important}
.mbs-auto-lg {margin-block-start: auto !important}

/* 0 */
.m-0-lg {margin: var(--space-0) !important}

.mt-0-lg {margin-top: var(--space-0) !important}
.mr-0-lg {margin-right: var(--space-0) !important}
.mb-0-lg {margin-bottom: var(--space-0) !important}
.ml-0-lg {margin-left: var(--space-0) !important}

.mis-0-lg {margin-inline-start: var(--space-0) !important}
.mie-0-lg {margin-inline-end: var(--space-0) !important}
.mi-0-lg {margin-inline: var(--space-0) !important}

.mbl-0-lg {margin-block: var(--space-0) !important}
.mbe-0-lg {margin-block-end: var(--space-0) !important}
.mbs-0-lg {margin-block-start: var(--space-0) !important}

/* 1 */
.m-1-lg {margin: var(--space-1) !important}

.mt-1-lg {margin-top: var(--space-1) !important}
.mr-1-lg {margin-right: var(--space-1) !important}
.mb-1-lg {margin-bottom: var(--space-1) !important}
.ml-1-lg {margin-left: var(--space-1) !important}

.mis-1-lg {margin-inline-start: var(--space-1) !important}
.mie-1-lg {margin-inline-end: var(--space-1) !important}
.mi-1-lg {margin-inline: var(--space-1) !important}

.mbl-1-lg {margin-block: var(--space-1) !important}
.mbe-1-lg {margin-block-end: var(--space-1) !important}
.mbs-1-lg {margin-block-start: var(--space-1) !important}

/* 2 */
.m-2-lg {margin: var(--space-2) !important}

.mt-2-lg {margin-top: var(--space-2) !important}
.mr-2-lg {margin-right: var(--space-2) !important}
.mb-2-lg {margin-bottom: var(--space-2) !important}
.ml-2-lg {margin-left: var(--space-2) !important}

.mis-2-lg {margin-inline-start: var(--space-2) !important}
.mie-2-lg {margin-inline-end: var(--space-2) !important}
.mi-2-lg {margin-inline: var(--space-2) !important}

.mbl-2-lg {margin-block: var(--space-2) !important}
.mbe-2-lg {margin-block-end: var(--space-2) !important}
.mbs-2-lg {margin-block-start: var(--space-2) !important}

/* 3 */
.m-3-lg {margin: var(--space-3) !important}

.mt-3-lg {margin-top: var(--space-3) !important}
.mr-3-lg {margin-right: var(--space-3) !important}
.mb-3-lg {margin-bottom: var(--space-3) !important}
.ml-3-lg {margin-left: var(--space-3) !important}

.mis-3-lg {margin-inline-start: var(--space-3) !important}
.mie-3-lg {margin-inline-end: var(--space-3) !important}
.mi-3-lg {margin-inline: var(--space-3) !important}

.mbl-3-lg {margin-block: var(--space-3) !important}
.mbe-3-lg {margin-block-end: var(--space-3) !important}
.mbs-3-lg {margin-block-start: var(--space-3) !important}

/* 4 */
.m-4-lg {margin: var(--space-4) !important}

.mt-4-lg {margin-top: var(--space-4) !important}
.mr-4-lg {margin-right: var(--space-4) !important}
.mb-4-lg {margin-bottom: var(--space-4) !important}
.ml-4-lg {margin-left: var(--space-4) !important}

.mis-4-lg {margin-inline-start: var(--space-4) !important}
.mie-4-lg {margin-inline-end: var(--space-4) !important}
.mi-4-lg {margin-inline: var(--space-4) !important}

.mbl-4-lg {margin-block: var(--space-4) !important}
.mbe-4-lg {margin-block-end: var(--space-4) !important}
.mbs-4-lg {margin-block-start: var(--space-4) !important}

/* 5 */
.m-5-lg {margin: var(--space-5) !important}

.mt-5-lg {margin-top: var(--space-5) !important}
.mr-5-lg {margin-right: var(--space-5) !important}
.mb-5-lg {margin-bottom: var(--space-5) !important}
.ml-5-lg {margin-left: var(--space-5) !important}

.mis-5-lg {margin-inline-start: var(--space-5) !important}
.mie-5-lg {margin-inline-end: var(--space-5) !important}
.mi-5-lg {margin-inline: var(--space-5) !important}

.mbl-5-lg {margin-block: var(--space-5) !important}
.mbe-5-lg {margin-block-end: var(--space-5) !important}
.mbs-5-lg {margin-block-start: var(--space-5) !important}

/* padding */
/* 0 */
.p-0-lg {padding: var(--space-0) !important;}

.pt-0-lg {padding-top: var(--space-0) !important;}
.pr-0-lg {padding-right: var(--space-0) !important;}
.pb-0-lg {padding-bottom: var(--space-0) !important;}
.pl-0-lg {padding-left: var(--space-0) !important;}

.pis-0-lg {padding-inline-start: var(--space-0) !important;}
.pie-0-lg {padding-inline-end: var(--space-0) !important;}
.pi-0-lg {padding-inline: var(--space-0) !important;}

.pbl-0-lg {padding-block: var(--space-0) !important;}
.pbe-0-lg {padding-block-end: var(--space-0) !important;}
.pbs-0-lg {padding-block-start: var(--space-0) !important;}

/* 1 */
.p-1-lg {padding: var(--space-1) !important}

.pt-1-lg {padding-top: var(--space-1) !important}
.pr-1-lg {padding-right: var(--space-1) !important}
.pb-1-lg {padding-bottom: var(--space-1) !important}
.pl-1-lg {padding-left: var(--space-1) !important}

.pis-1-lg {padding-inline-start: var(--space-1) !important}
.pie-1-lg {padding-inline-end: var(--space-1) !important}
.pi-1-lg {padding-inline: var(--space-1) !important}

.pbl-1-lg {padding-block: var(--space-1) !important}
.pbe-1-lg {padding-block-end: var(--space-1) !important}
.pbs-1-lg {padding-block-start: var(--space-1) !important}

/* 2 */
.p-2-lg {padding: var(--space-2) !important}

.pt-2-lg {padding-top: var(--space-2) !important}
.pr-2-lg {padding-right: var(--space-2) !important}
.pb-2-lg {padding-bottom: var(--space-2) !important}
.pl-2-lg {padding-left: var(--space-2) !important}

.pis-2-lg {padding-inline-start: var(--space-2) !important}
.pie-2-lg {padding-inline-end: var(--space-2) !important}
.pi-2-lg {padding-inline: var(--space-2) !important}

.pbl-2-lg {padding-block: var(--space-2) !important}
.pbe-2-lg {padding-block-end: var(--space-2) !important}
.pbs-2-lg {padding-block-start: var(--space-2) !important}

/* 3 */
.p-3-lg {padding: var(--space-3) !important}

.pt-3-lg {padding-top: var(--space-3) !important}
.pr-3-lg {padding-right: var(--space-3) !important}
.pb-3-lg {padding-bottom: var(--space-3) !important}
.pl-3-lg {padding-left: var(--space-3) !important}

.pis-3-lg {padding-inline-start: var(--space-3) !important}
.pie-3-lg {padding-inline-end: var(--space-3) !important}
.pi-3-lg {padding-inline: var(--space-3) !important}

.pbl-3-lg {padding-block: var(--space-3) !important}
.pbe-3-lg {padding-block-end: var(--space-3) !important}
.pbs-3-lg {padding-block-start: var(--space-3) !important}

/* 4 */
.p-4-lg {padding: var(--space-4) !important}

.pt-4-lg {padding-top: var(--space-4) !important}
.pr-4-lg {padding-right: var(--space-4) !important}
.pb-4-lg {padding-bottom: var(--space-4) !important}
.pl-4-lg {padding-left: var(--space-4) !important}

.pis-4-lg {padding-inline-start: var(--space-4) !important}
.pie-4-lg {padding-inline-end: var(--space-4) !important}
.pi-4-lg {padding-inline: var(--space-4) !important}

.pbl-4-lg {padding-block: var(--space-4) !important}
.pbe-4-lg {padding-block-end: var(--space-4) !important}
.pbs-4-lg {padding-block-start: var(--space-4) !important}

/* 5 */
.p-5-lg {padding: var(--space-5) !important}

.pt-5-lg {padding-top: var(--space-5) !important}
.pr-5-lg {padding-right: var(--space-5) !important}
.pb-5-lg {padding-bottom: var(--space-5) !important}
.pl-5-lg {padding-left: var(--space-5) !important}

.pis-5-lg {padding-inline-start: var(--space-5) !important}
.pie-5-lg {padding-inline-end: var(--space-5) !important}
.pi-5-lg {padding-inline: var(--space-5) !important}

.pbl-5-lg {padding-block: var(--space-5) !important}
.pbe-5-lg {padding-block-end: var(--space-5) !important}
.pbs-5-lg {padding-block-start: var(--space-5) !important}
}
