/* _breakpoint-lg.css */

@media (min-width: 992px) {
  .d-block-lg { display: block !important; }
  .d-flex-lg { display: flex !important; }
  .d-grid-lg { display: grid !important; }

  .d-inline-lg { display: inline !important; }
  .d-inline-block-lg { display: inline-block !important; }
  .d-inline-flex-lg { display: inline-flex !important; }
  .d-inline-grid-lg { display: inline-grid !important; }

  .d-none-lg { display: none !important; }
  .d-table-lg { display: table !important; }
  .d-table-cell-lg { display: table-cell !important; }
  .d-table-row-lg { display: table-row !important; }
}
