/* _breakpoint-sm.css */

@media (min-width: 576px) {
.d-block-sm { display: block !important; }
.d-flex-sm { display: flex !important; }
.d-grid-sm { display: grid !important; }
.d-none-sm { display: none !important; }

.d-inline-sm { display: inline !important; }
.d-inline-block-sm { display: inline-block !important; }
.d-inline-flex-sm { display: inline-flex !important; }
.d-inline-grid-sm { display: inline-grid !important; }

.d-table-sm { display: table !important; }
.d-table-cell-sm { display: table-cell !important; }
.d-table-row-sm { display: table-row !important; }



/* flex.css */

/* flex-wrap */
.fw-nowrap-sm { flex-wrap: nowrap !important; }
.fw-wrap-sm { flex-wrap: wrap !important; }
.fw-wrap-reverse-sm { flex-wrap: wrap-reverse !important; }

/* flex-direction */
.fd-row-sm { flex-direction: row !important; }
.fd-row-reverse-sm { flex-direction: row-reverse !important; }
.fd-column-sm { flex-direction: column !important; }
.fd-column-reverse-sm { flex-direction: column-reverse !important; }

/* gap */
.gap-0-sm { gap: var(--space-0); }
.gap-1-sm { gap: var(--space-1); }
.gap-2-sm { gap: var(--space-2); }
.gap-3-sm { gap: var(--space-3); }
.gap-4-sm { gap: var(--space-4); }
.gap-5-sm { gap: var(--space-5); }

/* align-content */
.ac-baseline-sm { align-content: baseline !important; }
.ac-center-sm { align-content: center !important; }
.ac-flex-end-sm { align-content: flex-end !important; }
.ac-flex-start-sm { align-content: flex-start !important; }
.ac-normal-sm { align-content: normal !important; }
.ac-space-around-sm { align-content: space-around !important; }
.ac-space-between-sm { align-content: space-between !important; }
.ac-space-evenly-sm { align-content: space-evenly !important; }
.ac-stretch-sm { align-content: stretch !important; }

/* align-items */
.ai-baseline-sm { align-items: baseline !important; }
.ai-center-sm { align-items: center !important; }
.ai-flex-start-sm { align-items: flex-start !important; }
.ai-flex-end-sm { align-items: flex-end !important; }
.ai-stretch-sm { align-items: stretch !important; }

/* align-self */
.as-auto-sm { align-self: auto !important; }
.as-baseline-sm { align-self: baseline !important; }
.as-center-sm { align-self: center !important; }
.as-flex-end-sm { align-self: flex-end !important; }
.as-flex-start-sm { align-self: flex-start !important; }
.as-stretch-sm { align-self: stretch !important; }

/* justify-content */
.jc-center-sm { justify-content: center !important; }
.jc-flex-end-sm { justify-content: flex-end !important; }
.jc-flex-start-sm { justify-content: flex-start !important; }
.jc-normal-sm { justify-content: normal !important; }
.jc-space-around-sm { justify-content: space-around !important; }
.jc-space-between-sm { justify-content: space-between !important; }
.jc-space-evenly-sm { justify-content: space-evenly !important; }
.jc-stretch-sm { justify-content: stretch !important; }



/* text-align */
.ta-center-sm { text-align: center !important; }
.ta-end-sm { text-align: end !important; }
.ta-justify-sm { text-align: justify !important; }
.ta-left-sm { text-align: left !important; }
.ta-right-sm { text-align: right !important; }
.ta-start-sm { text-align: start !important; }



/* auto */
.m-auto-sm { margin: auto !important; }

.mt-auto-sm { margin-top: auto !important; }
.mr-auto-sm { margin-right: auto !important; }
.mb-auto-sm { margin-bottom: auto !important; }
.ml-auto-sm { margin-left: auto !important; }

.mis-auto-sm { margin-inline-start: auto !important; }
.mie-auto-sm { margin-inline-end: auto !important; }
.mi-auto-sm { margin-inline: auto !important; }

.mbl-auto-sm { margin-block: auto !important; }
.mbe-auto-sm { margin-block-end: auto !important; }
.mbs-auto-sm { margin-block-start: auto !important; }

/* 0 */
.m-0-sm { margin: var(--space-0) !important; }

.mt-0-sm { margin-top: var(--space-0) !important; }
.mr-0-sm { margin-right: var(--space-0) !important; }
.mb-0-sm { margin-bottom: var(--space-0) !important; }
.ml-0-sm { margin-left: var(--space-0) !important; }

.mis-0-sm { margin-inline-start: var(--space-0) !important; }
.mie-0-sm { margin-inline-end: var(--space-0) !important; }
.mi-0-sm { margin-inline: var(--space-0) !important; }

.mbl-0-sm { margin-block: var(--space-0) !important; }
.mbe-0-sm { margin-block-end: var(--space-0) !important; }
.mbs-0-sm { margin-block-start: var(--space-0) !important; }



/* 1 */
.m-1-sm { margin: var(--space-1) !important; }

.mt-1-sm { margin-top: var(--space-1) !important; }
.mr-1-sm { margin-right: var(--space-1) !important; }
.mb-1-sm { margin-bottom: var(--space-1) !important; }
.ml-1-sm { margin-left: var(--space-1) !important; }

.mis-1-sm { margin-inline-start: var(--space-1) !important; }
.mie-1-sm { margin-inline-end: var(--space-1) !important; }
.mi-1-sm { margin-inline: var(--space-1) !important; }

.mbl-1-sm { margin-block: var(--space-1) !important; }
.mbe-1-sm { margin-block-end: var(--space-1) !important; }
.mbs-1-sm { margin-block-start: var(--space-1) !important; }



/* 2 */
.m-2-sm { margin: var(--space-2) !important; }

.mt-2-sm { margin-top: var(--space-2) !important; }
.mr-2-sm { margin-right: var(--space-2) !important; }
.mb-2-sm { margin-bottom: var(--space-2) !important; }
.ml-2-sm { margin-left: var(--space-2) !important; }

.mis-2-sm { margin-inline-start: var(--space-2) !important; }
.mie-2-sm { margin-inline-end: var(--space-2) !important; }
.mi-2-sm { margin-inline: var(--space-2) !important; }

.mbl-2-sm { margin-block: var(--space-2) !important; }
.mbe-2-sm { margin-block-end: var(--space-2) !important; }
.mbs-2-sm { margin-block-start: var(--space-2) !important; }



/* 3 */
.m-3-sm { margin: var(--space-3) !important; }

.mt-3-sm { margin-top: var(--space-3) !important; }
.mr-3-sm { margin-right: var(--space-3) !important; }
.mb-3-sm { margin-bottom: var(--space-3) !important; }
.ml-3-sm { margin-left: var(--space-3) !important; }

.mis-3-sm { margin-inline-start: var(--space-3) !important; }
.mie-3-sm { margin-inline-end: var(--space-3) !important; }
.mi-3-sm { margin-inline: var(--space-3) !important; }

.mbl-3-sm { margin-block: var(--space-3) !important; }
.mbe-3-sm { margin-block-end: var(--space-3) !important; }
.mbs-3-sm { margin-block-start: var(--space-3) !important; }



/* 4 */
.m-4-sm { margin: var(--space-4) !important; }

.mt-4-sm { margin-top: var(--space-4) !important; }
.mr-4-sm { margin-right: var(--space-4) !important; }
.mb-4-sm { margin-bottom: var(--space-4) !important; }
.ml-4-sm { margin-left: var(--space-4) !important; }

.mis-4-sm { margin-inline-start: var(--space-4) !important; }
.mie-4-sm { margin-inline-end: var(--space-4) !important; }
.mi-4-sm { margin-inline: var(--space-4) !important; }

.mbl-4-sm { margin-block: var(--space-4) !important; }
.mbe-4-sm { margin-block-end: var(--space-4) !important; }
.mbs-4-sm { margin-block-start: var(--space-4) !important; }



/* 5 */
.m-5-sm { margin: var(--space-5) !important; }

.mt-5-sm { margin-top: var(--space-5) !important; }
.mr-5-sm { margin-right: var(--space-5) !important; }
.mb-5-sm { margin-bottom: var(--space-5) !important; }
.ml-5-sm { margin-left: var(--space-5) !important; }

.mis-5-sm { margin-inline-start: var(--space-5) !important; }
.mie-5-sm { margin-inline-end: var(--space-5) !important; }
.mi-5-sm { margin-inline: var(--space-5) !important; }

.mbl-5-sm { margin-block: var(--space-5) !important; }
.mbe-5-sm { margin-block-end: var(--space-5) !important; }
.mbs-5-sm { margin-block-start: var(--space-5) !important; }



/* padding */
/* 0 */
.p-0-sm { padding: var(--space-0) !important; }

.pt-0-sm { padding-top: var(--space-0) !important; }
.pr-0-sm { padding-right: var(--space-0) !important; }
.pb-0-sm { padding-bottom: var(--space-0) !important; }
.pl-0-sm { padding-left: var(--space-0) !important; }

.pis-0-sm { padding-inline-start: var(--space-0) !important; }
.pie-0-sm { padding-inline-end: var(--space-0) !important; }
.pi-0-sm { padding-inline: var(--space-0) !important; }

.pbl-0-sm { padding-block: var(--space-0) !important; }
.pbe-0-sm { padding-block-end: var(--space-0) !important; }
.pbs-0-sm { padding-block-start: var(--space-0) !important; }



/* 1 */
.p-1-sm { padding: var(--space-1) !important; }

.pt-1-sm { padding-top: var(--space-1) !important; }
.pr-1-sm { padding-right: var(--space-1) !important; }
.pb-1-sm { padding-bottom: var(--space-1) !important; }
.pl-1-sm { padding-left: var(--space-1) !important; }

.pis-1-sm { padding-inline-start: var(--space-1) !important; }
.pie-1-sm { padding-inline-end: var(--space-1) !important; }
.pi-1-sm { padding-inline: var(--space-1) !important; }

.pbl-1-sm { padding-block: var(--space-1) !important; }
.pbe-1-sm { padding-block-end: var(--space-1) !important; }
.pbs-1-sm { padding-block-start: var(--space-1) !important; }



/* 2 */
.p-2-sm { padding: var(--space-2) !important; }

.pt-2-sm { padding-top: var(--space-2) !important; }
.pr-2-sm { padding-right: var(--space-2) !important; }
.pb-2-sm { padding-bottom: var(--space-2) !important; }
.pl-2-sm { padding-left: var(--space-2) !important; }

.pis-2-sm { padding-inline-start: var(--space-2) !important; }
.pie-2-sm { padding-inline-end: var(--space-2) !important; }
.pi-2-sm { padding-inline: var(--space-2) !important; }

.pbl-2-sm { padding-block: var(--space-2) !important; }
.pbe-2-sm { padding-block-end: var(--space-2) !important; }
.pbs-2-sm { padding-block-start: var(--space-2) !important; }



/* 3 */
.p-3-sm { padding: var(--space-3) !important; }

.pt-3-sm { padding-top: var(--space-3) !important; }
.pr-3-sm { padding-right: var(--space-3) !important; }
.pb-3-sm { padding-bottom: var(--space-3) !important; }
.pl-3-sm { padding-left: var(--space-3) !important; }

.pis-3-sm { padding-inline-start: var(--space-3) !important; }
.pie-3-sm { padding-inline-end: var(--space-3) !important; }
.pi-3-sm { padding-inline: var(--space-3) !important; }

.pbl-3-sm { padding-block: var(--space-3) !important; }
.pbe-3-sm { padding-block-end: var(--space-3) !important; }
.pbs-3-sm { padding-block-start: var(--space-3) !important; }



/* 4 */
.p-4-sm { padding: var(--space-4) !important; }

.pt-4-sm { padding-top: var(--space-4) !important; }
.pr-4-sm { padding-right: var(--space-4) !important; }
.pb-4-sm { padding-bottom: var(--space-4) !important; }
.pl-4-sm { padding-left: var(--space-4) !important; }

.pis-4-sm { padding-inline-start: var(--space-4) !important; }
.pie-4-sm { padding-inline-end: var(--space-4) !important; }
.pi-4-sm { padding-inline: var(--space-4) !important; }

.pbl-4-sm { padding-block: var(--space-4) !important; }
.pbe-4-sm { padding-block-end: var(--space-4) !important; }
.pbs-4-sm { padding-block-start: var(--space-4) !important; }



/* 5 */
.p-5-sm { padding: var(--space-5) !important; }

.pt-5-sm { padding-top: var(--space-5) !important; }
.pr-5-sm { padding-right: var(--space-5) !important; }
.pb-5-sm { padding-bottom: var(--space-5) !important; }
.pl-5-sm { padding-left: var(--space-5) !important; }

.pis-5-sm { padding-inline-start: var(--space-5) !important; }
.pie-5-sm { padding-inline-end: var(--space-5) !important; }
.pi-5-sm { padding-inline: var(--space-5) !important; }

.pbl-5-sm { padding-block: var(--space-5) !important; }
.pbe-5-sm { padding-block-end: var(--space-5) !important; }
.pbs-5-sm { padding-block-start: var(--space-5) !important; }
}
