/* _breakpoint-md.css */

@media (min-width: 768px) {
  .d-block-md { display: block !important; }
  .d-flex-md { display: flex !important; }
  .d-grid-md { display: grid !important; }

  .d-inline-md { display: inline !important; }
  .d-inline-block-md { display: inline-block !important; }
  .d-inline-flex-md { display: inline-flex !important; }
  .d-inline-grid-md { display: inline-grid !important; }

  .d-none-md { display: none !important; }
  .d-table-md { display: table !important; }
  .d-table-cell-md { display: table-cell !important; }
  .d-table-row-md { display: table-row !important; }
}
