/* _breakpoint-md.css */

@media (min-width: 768px) {
  .d-block-md { display: block; }
  .d-flex-md { display: flex; }
  .d-grid-md { display: grid; }

  .d-inline-md { display: inline; }
  .d-inline-block-md { display: inline-block; }
  .d-inline-flex-md { display: inline-flex; }
  .d-inline-grid-md { display: inline-grid; }

  .d-none-md { display: none; }
  .d-table-md { display: table; }
  .d-table-cell-md { display: table-cell; }
  .d-table-row-md { display: table-row; }
}
