/* background.css */

/* background-attachment */
.ba-fixed { background-attachment: fixed !important; }
.ba-local { background-attachment: local !important; }
.ba-scroll { background-attachment: scroll !important; }

/* background-clip */
.bc-border-box { background-clip: border-box !important; }
.bc-content-box { background-clip: content-box !important; }
.bc-padding-box { background-clip: padding-box !important; }

/* background-origin */
.bo-border-box { background-origin: border-box !important; }
.bo-content-box { background-origin: content-box !important; }
.bo-padding-box { background-origin: padding-box !important; }

/* background-position */
.bp-bottom { background-position: bottom !important; }
.bp-bottom-left { background-position: bottom left !important; }
.bp-bottom-right { background-position: bottom right !important; }
.bp-center { background-position: center !important; }
.bp-left { background-position: left !important; }
.bp-right { background-position: right !important; }
.bp-top { background-position: top !important; }
.bp-top-left { background-position: top left !important; }
.bp-top-right { background-position: top right !important; }

/* background-repeat */
.br-no-repeat { background-repeat: no-repeat !important; }
.br-repeat { background-repeat: repeat !important; }
.br-repeat-x { background-repeat: repeat-x !important; }
.br-repeat-y { background-repeat: repeat-y !important; }
.br-round { background-repeat: round !important; }
.br-space { background-repeat: space !important; }

/* background-size */
.bs-auto { background-size: auto !important; }
.bs-cover { background-size: cover !important; }
.bs-contain { background-size: contain !important; }
