/* border.css */

/* box-sizing */
.bs-border-box { box-sizing: border-box !important; }
.bs-content-box { box-sizing: content-box !important; }

/* border-radius */
.br-0 { border-radius: 0 !important; }
.br-1 { border-radius: 0.25rem !important; }
.br-2 { border-radius: 0.375rem !important; }
.br-3 { border-radius: 0.5rem !important; }
.br-4 { border-radius: 0.75rem !important; }
.br-5 { border-radius: 1rem !important; }
.br-max { border-radius: 9999px !important; }

.btrr-0 { border-top-right-radius: 0 !important; }
.btrr-1 { border-top-right-radius: 0.25rem !important; }
.btrr-2 { border-top-right-radius: 0.375rem !important; }
.btrr-3 { border-top-right-radius: 0.5rem !important; }
.btrr-4 { border-top-right-radius: 0.75rem !important; }
.btrr-5 { border-top-right-radius: 1rem !important; }
.btrr-max { border-top-right-radius: 9999px !important; }

.btlr-0 { border-top-left-radius: 0 !important; }
.btlr-1 { border-top-left-radius: 0.25rem !important; }
.btlr-2 { border-top-left-radius: 0.375rem !important; }
.btlr-3 { border-top-left-radius: 0.5rem !important; }
.btlr-4 { border-top-left-radius: 0.75rem !important; }
.btlr-5 { border-top-left-radius: 1rem !important; }
.btlr-max { border-top-left-radius: 9999px !important; }

.bbrr-0 { border-bottom-right-radius: 0 !important; }
.bbrr-1 { border-bottom-right-radius: 0.25rem !important; }
.bbrr-2 { border-bottom-right-radius: 0.375rem !important; }
.bbrr-3 { border-bottom-right-radius: 0.5rem !important; }
.bbrr-4 { border-bottom-right-radius: 0.75rem !important; }
.bbrr-5 { border-bottom-right-radius: 1rem !important; }
.bbrr-max { border-bottom-right-radius: 9999px !important; }

.bblr-0 { border-bottom-left-radius: 0 !important; }
.bblr-1 { border-bottom-left-radius: 0.25rem !important; }
.bblr-2 { border-bottom-left-radius: 0.375rem !important; }
.bblr-3 { border-bottom-left-radius: 0.5rem !important; }
.bblr-4 { border-bottom-left-radius: 0.75rem !important; }
.bblr-5 { border-bottom-left-radius: 1rem !important; }
.bblr-max { border-bottom-left-radius: 9999px !important; }

/* border-style */
.bs-dashed { border-style: dashed !important; }
.bs-dotted { border-style: dotted !important; }
.bs-double { border-style: double !important; }
.bs-groove { border-style: groove !important; }
.bs-hidden { border-style: hidden !important; }
.bs-inset { border-style: inset !important; }
.bs-none { border-style: none !important; }
.bs-outset { border-style: outset !important; }
.bs-ridge { border-style: ridge !important; }
.bs-solid { border-style: solid !important; }

/* border-width */
.bw-0 { border-width: 0 !important; }
.bw-1 { border-width: 1px !important; }
.bw-2 { border-width: 2px !important; }
.bw-3 { border-width: 4px !important; }
.bw-4 { border-width: 6px !important; }
.bw-5 { border-width: 8px !important; }
/* .bw-6 { border-width: 10px !important; } */

.btw-0 { border-top-width: 0 !important; }
.btw-1 { border-top-width: 1px !important; }
.btw-2 { border-top-width: 2px !important; }
.btw-3 { border-top-width: 4px !important; }
.btw-4 { border-top-width: 6px !important; }
.btw-5 { border-top-width: 8px !important; }
/* .btw-6 { border-top-width: 10px !important; } */

.brw-0 { border-right-width: 0 !important; }
.brw-1 { border-right-width: 1px !important; }
.brw-2 { border-right-width: 2px !important; }
.brw-3 { border-right-width: 4px !important; }
.brw-4 { border-right-width: 6px !important; }
.brw-5 { border-right-width: 8px !important; }
/* .brw-6 { border-right-width: 10px !important; } */

.bbw-0 { border-bottom-width: 0 !important; }
.bbw-1 { border-bottom-width: 1px !important; }
.bbw-2 { border-bottom-width: 2px !important; }
.bbw-3 { border-bottom-width: 4px !important; }
.bbw-4 { border-bottom-width: 6px !important; }
.bbw-5 { border-bottom-width: 8px !important; }
/* .bbw-6 { border-bottom-width: 10px !important; } */

.blw-0 { border-left-width: 0 !important; }
.blw-1 { border-left-width: 1px !important; }
.blw-2 { border-left-width: 2px !important; }
.blw-3 { border-left-width: 4px !important; }
.blw-4 { border-left-width: 6px !important; }
.blw-5 { border-left-width: 8px !important; }
/* .blw-6 { border-left-width: 10px !important; } */
