/* display.css */

.d-block { display: block; }
.d-flex { display: flex; }
.d-grid { display: grid; }
.d-none { display: none; }

.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-inline-flex { display: inline-flex; }
.d-inline-grid { display: inline-grid; }

.d-table { display: table; }
.d-table-cell { display: table-cell; }
.d-table-row { display: table-row; }
