/* float.css */

/* clear */
.c-both { clear: both !important; }
.c-left { clear: left !important; }
.c-none { clear: none !important; }
.c-right { clear: right !important; }

/* float */
.f-left { float: left !important; }
.f-none { float: none !important; }
.f-right { float: right !important; }
