/* fonts.css */

/* font-family */
.ff-sans-serif { font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important; }
.ff-serif { font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif !important; }
.ff-monospace { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important; }

/* font-size */
.fs-0 { font-size: 1rem !important; }
.fs-1 { font-size: 1.25rem !important; }
.fs-2 { font-size: 1.5rem !important; }
.fs-3 { font-size: 1.75rem !important; }
.fs-4 { font-size: 2rem !important; }
.fs-5 { font-size: 2.5rem !important; }

/* font-style */
.fs-italic { font-style: italic !important; }
.fs-normal { font-style: normal !important; }
.fs-oblique { font-style: oblique !important; }

/* font-weight */
.fw-bold { font-weight: bold !important; }
.fw-bolder { font-weight: bolder !important; }
.fw-lighter { font-weight: lighter !important; }
.fw-normal { font-weight: normal !important; }
.fw-100 { font-weight: 100 !important; }
.fw-200 { font-weight: 200 !important; }
.fw-300 { font-weight: 300 !important; }
.fw-400 { font-weight: 400 !important; }
.fw-500 { font-weight: 500 !important; }
.fw-600 { font-weight: 600 !important; }
.fw-700 { font-weight: 700 !important; }
.fw-800 { font-weight: 800 !important; }
.fw-900 { font-weight: 900 !important; }

/* line-height */
.lh-0 { line-height: 1 !important; }
.lh-1 { line-height: 1.1 !important; }
.lh-2 { line-height: 1.25 !important; }
.lh-3 { line-height: 1.5 !important; }
.lh-4 { line-height: 1.75 !important; }
.lh-5 { line-height: 2 !important; }

/* letter-spacing */
.ls-0 { letter-spacing: -0.05em !important; }
.ls-1 { letter-spacing: -0.025em !important; }
.ls-2 { letter-spacing: 0 !important; }
.ls-3 { letter-spacing: 0.025em !important; }
.ls-4 { letter-spacing: 0.05em !important; }
.ls-5 { letter-spacing: 0.1em !important; }

/* word-spacing */
.ws-0 { word-spacing: 0 !important; }
.ws-1 { word-spacing: 1px !important; }
.ws-2 { word-spacing: 2px !important; }
.ws-3 { word-spacing: 4px !important; }
.ws-4 { word-spacing: 6px !important; }
.ws-5 { word-spacing: 8px !important; }
