/* grid.css */

/* justify-items */
.ji-auto { justify-items: auto !important; }
.ji-center { justify-items: center !important; }
.ji-end { justify-items: end !important; }
.ji-flex-end { justify-items: flex-end !important; }
.ji-start { justify-items: start !important; }
.ji-flex-start { justify-items: flex-start !important; }
.ji-stretch { justify-items: stretch !important; }

/* justify-self */
.js-auto { justify-self: auto !important; }
.js-center { justify-self: center !important; }
.js-end { justify-self: end !important; }
.js-start { justify-self: start !important; }
.js-stretch { justify-self: stretch !important; }
