/* outline.css */

/* outline-style */
.os-auto:focus { outline-style: auto !important;}
.os-none:focus { outline-style: none !important;}
.os-dotted:focus { outline-style: dotted !important;}
.os-dashed:focus { outline-style: dashed !important;}
.os-solid:focus { outline-style: solid !important;}
.os-double:focus { outline-style: double !important;}
.os-groove:focus { outline-style: groove !important;}
.os-ridge:focus { outline-style: ridge !important;}
.os-inset:focus { outline-style: inset !important;}
.os-outset:focus { outline-style: outset !important;}

/* outline-offset */
.oo-0 { outline-offset: 0 !important; }
.oo-1 { outline-offset: 1px !important; }
.oo-2 { outline-offset: 2px !important; }
.oo-3 { outline-offset: 4px !important; }
.oo-4 { outline-offset: 6px !important; }
.oo-5 { outline-offset: 8px !important; }

/* outline-width */
.ow-0 { outline-width: 0 !important; }
.ow-1 { outline-width: 1px !important; }
.ow-2 { outline-width: 2px !important; }
.ow-3 { outline-width: 4px !important; }
.ow-4 { outline-width: 6px !important; }
.ow-5 { outline-width: 8px !important; }
