/* padding.css */

/* 0 */
.p-0 {padding: 0;}

.pt-0 {padding-top: 0;}
.pr-0 {padding-right: 0;}
.pb-0 {padding-bottom: 0;}
.pl-0 {padding-left: 0 !important;}

.pis-0 {padding-inline-start: 0;}
.pie-0 {padding-inline-end: 0;}
.pi-0 {padding-inline: 0;}

.pbl-0 {padding-block: 0;}
.pbe-0 {padding-block-end: 0;}
.pbs-0 {padding-block-start: 0;}



/* 1 */
.p-1 {padding: 0.25rem}

.pt-1 {padding-top: 0.25rem}
.pr-1 {padding-right: 0.25rem}
.pb-1 {padding-bottom: 0.25rem}
.pl-1 {padding-left: 0.25rem}

.pis-1 {padding-inline-start: 0.25rem}
.pie-1 {padding-inline-end: 0.25rem}
.pi-1 {padding-inline: 0.25rem}

.pbl-1 {padding-block: 0.25rem}
.pbe-1 {padding-block-end: 0.25rem}
.pbs-1 {padding-block-start: 0.25rem}



/* 2 */
.p-2 {padding: 0.5rem}

.pt-2 {padding-top: 0.5rem}
.pr-2 {padding-right: 0.5rem}
.pb-2 {padding-bottom: 0.5rem}
.pl-2 {padding-left: 0.5rem}

.pis-2 {padding-inline-start: 0.5rem}
.pie-2 {padding-inline-end: 0.5rem}
.pi-2 {padding-inline: 0.5rem}

.pbl-2 {padding-block: 0.5rem}
.pbe-2 {padding-block-end: 0.5rem}
.pbs-2 {padding-block-start: 0.5rem}



/* 3 */
.p-3 {padding: 1rem}

.pt-3 {padding-top: 1rem}
.pr-3 {padding-right: 1rem}
.pb-3 {padding-bottom: 1rem}
.pl-3 {padding-left: 1rem}

.pis-3 {padding-inline-start: 1rem}
.pie-3 {padding-inline-end: 1rem}
.pi-3 {padding-inline: 1rem}

.pbl-3 {padding-block: 1rem}
.pbe-3 {padding-block-end: 1rem}
.pbs-3 {padding-block-start: 1rem}



/* 4 */
.p-4 {padding: 1.5rem}

.pt-4 {padding-top: 1.5rem}
.pr-4 {padding-right: 1.5rem}
.pb-4 {padding-bottom: 1.5rem}
.pl-4 {padding-left: 1.5rem}

.pis-4 {padding-inline-start: 1.5rem}
.pie-4 {padding-inline-end: 1.5rem}
.pi-4 {padding-inline: 1.5rem}

.pbl-4 {padding-block: 1.5rem}
.pbe-4 {padding-block-end: 1.5rem}
.pbs-4 {padding-block-start: 1.5rem}



/* 5 */
.p-5 {padding: 3rem}

.pt-5 {padding-top: 3rem}
.pr-5 {padding-right: 3rem}
.pb-5 {padding-bottom: 3rem}
.pl-5 {padding-left: 3rem}

.pis-5 {padding-inline-start: 3rem}
.pie-5 {padding-inline-end: 3rem}
.pi-5 {padding-inline: 3rem}

.pbl-5 {padding-block: 3rem}
.pbe-5 {padding-block-end: 3rem}
.pbs-5 {padding-block-start: 3rem}
