/* padding.css */

/* 0 */
.p-0 { padding: var(--space-0) !important; }

.pt-0 { padding-top: var(--space-0) !important; }
.pr-0 { padding-right: var(--space-0) !important; }
.pb-0 { padding-bottom: var(--space-0) !important; }
.pl-0 { padding-left: var(--space-0) !important; }

.pis-0 { padding-inline-start: var(--space-0) !important; }
.pie-0 { padding-inline-end: var(--space-0) !important; }
.pi-0 { padding-inline: var(--space-0) !important; }

.pbl-0 { padding-block: var(--space-0) !important; }
.pbe-0 { padding-block-end: var(--space-0) !important; }
.pbs-0 { padding-block-start: var(--space-0) !important; }



/* 1 */
.p-1 { padding: var(--space-1) !important; }

.pt-1 { padding-top: var(--space-1) !important; }
.pr-1 { padding-right: var(--space-1) !important; }
.pb-1 { padding-bottom: var(--space-1) !important; }
.pl-1 { padding-left: var(--space-1) !important; }

.pis-1 { padding-inline-start: var(--space-1) !important; }
.pie-1 { padding-inline-end: var(--space-1) !important; }
.pi-1 { padding-inline: var(--space-1) !important; }

.pbl-1 { padding-block: var(--space-1) !important; }
.pbe-1 { padding-block-end: var(--space-1) !important; }
.pbs-1 { padding-block-start: var(--space-1) !important; }



/* 2 */
.p-2 { padding: var(--space-2) !important; }

.pt-2 { padding-top: var(--space-2) !important; }
.pr-2 { padding-right: var(--space-2) !important; }
.pb-2 { padding-bottom: var(--space-2) !important; }
.pl-2 { padding-left: var(--space-2) !important; }

.pis-2 { padding-inline-start: var(--space-2) !important; }
.pie-2 { padding-inline-end: var(--space-2) !important; }
.pi-2 { padding-inline: var(--space-2) !important; }

.pbl-2 { padding-block: var(--space-2) !important; }
.pbe-2 { padding-block-end: var(--space-2) !important; }
.pbs-2 { padding-block-start: var(--space-2) !important; }



/* 3 */
.p-3 { padding: var(--space-3) !important; }

.pt-3 { padding-top: var(--space-3) !important; }
.pr-3 { padding-right: var(--space-3) !important; }
.pb-3 { padding-bottom: var(--space-3) !important; }
.pl-3 { padding-left: var(--space-3) !important; }

.pis-3 { padding-inline-start: var(--space-3) !important; }
.pie-3 { padding-inline-end: var(--space-3) !important; }
.pi-3 { padding-inline: var(--space-3) !important; }

.pbl-3 { padding-block: var(--space-3) !important; }
.pbe-3 { padding-block-end: var(--space-3) !important; }
.pbs-3 { padding-block-start: var(--space-3) !important; }



/* 4 */
.p-4 { padding: var(--space-4) !important; }

.pt-4 { padding-top: var(--space-4) !important; }
.pr-4 { padding-right: var(--space-4) !important; }
.pb-4 { padding-bottom: var(--space-4) !important; }
.pl-4 { padding-left: var(--space-4) !important; }

.pis-4 { padding-inline-start: var(--space-4) !important; }
.pie-4 { padding-inline-end: var(--space-4) !important; }
.pi-4 { padding-inline: var(--space-4) !important; }

.pbl-4 { padding-block: var(--space-4) !important; }
.pbe-4 { padding-block-end: var(--space-4) !important; }
.pbs-4 { padding-block-start: var(--space-4) !important; }



/* 5 */
.p-5 { padding: var(--space-5) !important; }

.pt-5 { padding-top: var(--space-5) !important; }
.pr-5 { padding-right: var(--space-5) !important; }
.pb-5 { padding-bottom: var(--space-5) !important; }
.pl-5 { padding-left: var(--space-5) !important; }

.pis-5 { padding-inline-start: var(--space-5) !important; }
.pie-5 { padding-inline-end: var(--space-5) !important; }
.pi-5 { padding-inline: var(--space-5) !important; }

.pbl-5 { padding-block: var(--space-5) !important; }
.pbe-5 { padding-block-end: var(--space-5) !important; }
.pbs-5 { padding-block-start: var(--space-5) !important; }
