/* tables.css */

/* border-collapse */
.bc-collapse { border-collapse: collapse !important; }
.bc-separate { border-collapse: separate !important; }

/* border-spacing */
.bsp-0 { border-spacing: 0 !important; }
.bsp-1 { border-spacing: .125rem !important; }
.bsp-2 { border-spacing: .25rem !important; }
.bsp-3 { border-spacing: .5rem !important; }
.bsp-4 { border-spacing: .75rem !important; }
.bsp-5 { border-spacing: 1rem !important; }

/* caption-side */
.cs-top { caption-side: top !important; }
.cs-bottom { caption-side: bottom !important; }

/* table-layout */
.tl-auto { table-layout: auto !important; }
.tl-fixed { table-layout: fixed !important; }
