/* tables.css */

/* border-collapse */
.bc-collapse { border-collapse: collapse !important; }
.bc-separate { border-collapse: separate !important; }



/* border-spacing */
.bs-0 { border-spacing: 0 !important; }



/* caption-side */
.cs-top { caption-side: top !important; }
.cs-bottom { caption-side: bottom !important; }



/* table-layout */
.tl-auto { table-layout: auto !important; }
.tl-fixed { table-layout: fixed !important; }
