/* text.css */

/* scroll-behavior */
.sb-auto { scroll-behavior: auto !important; }
.sb-smooth { scroll-behavior: smooth !important; }

/* text-align */
.ta-center { text-align: center !important; }
.ta-end { text-align: end !important; }
.ta-justify { text-align: justify !important; }
.ta-left { text-align: left !important; }
.ta-right { text-align: right !important; }
.ta-start { text-align: start !important; }

/* text-decoration-line */
.tdl-line-through { text-decoration-line: line-through !important; }
.tdl-none { text-decoration-line: none !important; }
.tdl-overline { text-decoration-line: overline !important; }
.tdl-underline { text-decoration-line: underline !important; }

/* text-decoration-style */
.tds-dashed { text-decoration-style: dashed !important; }
.tds-dotted { text-decoration-style: dotted !important; }
.tds-double { text-decoration-style: double !important; }
.tds-solid { text-decoration-style: solid !important; }
.tds-wavy { text-decoration-style: wavy !important; }

/* text-decoration-thickness */
.tdt-auto {text-decoration-thickness: auto !important;}
.tdt-0 {text-decoration-thickness: 0 !important;}
.tdt-1 {text-decoration-thickness: 1px !important;}
.tdt-2 {text-decoration-thickness: 2px !important;}
.tdt-3 {text-decoration-thickness: 4px !important;}
.tdt-4 {text-decoration-thickness: 6px !important;}
.tdt-5 {text-decoration-thickness: 8px !important;}

/* text-underline-offset */
.tuo-auto {text-underline-offset: auto !important;}
.tuo-0 {text-underline-offset: 0 !important;}
.tuo-1 {text-underline-offset: 1px !important;}
.tuo-2 {text-underline-offset: 2px !important;}
.tuo-3 {text-underline-offset: 4px !important;}
.tuo-4 {text-underline-offset: 6px !important;}
.tuo-5 {text-underline-offset: 8px !important;}

/* text-transform */
.tt-capitalize { text-transform: capitalize !important; }
.tt-lowercase { text-transform: lowercase !important; }
.tt-none { text-transform: none !important; }
.tt-uppercase { text-transform: uppercase !important; }
