/* white-space.css */

.ws-normal { white-space: normal !important; }
.ws-nowrap { white-space: nowrap !important; }
.ws-pre { white-space: pre !important; }
.ws-pre-line { white-space: pre-line !important; }
.ws-pre-wrap { white-space: pre-wrap !important; }
